:root {
  --primaryClr: skyblue;
  --secondaryClr: rgb(149, 128, 149);
  --tertiaryClr: rgb(214, 214, 148);
}

body {
  margin: 0;
  font-size: 1.2rem;
}
.wrapper {
  background: linear-gradient(var(--primaryClr), var(--secondaryClr));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: rgb(23, 118, 125);
  width: 400px;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 10px rgb(9, 32, 107);
}

.display {
  background-color: var(--secondaryClr);
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  font-weight: bolder;
}

.calculator .btn {
  background: var(--tertiaryClr);
  margin: 1rem;
  height: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.calculator .btn:hover {
  cursor: pointer;
  background-color: var(--secondaryClr);
}
