:root {
  --primaryClr: skyblue;
  --secondaryClr: purple;
  --tertiaryClr: yellow;
}

body {
  margin: 0;
  font-size: 1.2rem;
}
.wrapper {
  background: linear-gradient(var(--primaryClr), var(--secondaryClr));
  min-height: 100vh;
}

.calculator {
  background: rgb(23, 118, 125);
}
